.form-table {
  border-collapse: collapse;
  margin-top: 0.5em;
  width: 100%;
  clear: both;
}

/**
 * Copiar aquí estilos de wordpress para la distribución de campos de formulario por defecto
 */
