.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid ;
  margin: 0 auto;
}
.border-down{
    border-bottom: 4px solid #000;
}
