

.accordion-item:hover {
  background-color: #e41931;
}

.accordion-item:hover svg {
  stroke: white;
}



.accordion-item[open] {
  background-color: #e41931;
}

.accordion-item[open] .faq-title {
  color: white;
}

.accordion-item summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: .8rem;
  align-items: center;
}


.accordion-item summary svg {
  stroke: white;
}

.accordion-item[open] summary .expand-icon {
  stroke: white;
  transform: rotate(-180deg);
}

.accordion-item summary:hover .faq-title {
  color: white;
}

.accordion-item summary::-webkit-details-marker {
  display: none;
}

.accordion-item summary:focus {
  outline: none;
}

.faq-title {
  color: white;
  width: 90%;
  transition: all 250ms ease-in-out;
}

.faq-content {
  color: white;
  padding: 0.2rem 1rem 1rem 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  pointer-events: none;
  transition: all 150ms ease-out;
}
